CqrsMvcMusicStore/ProcessingEndpoint.Config/ProcessingEndpointConfiguration.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:ProcessingEndpoint.Config" elementFormDefault="qualified" targetNamespace="urn:ProcessingEndpoint.Config" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="dataBusConfig" type="tns:ProcessingEndpoint.Config.DataBusConfigCT" />
	<xs:element name="commandBusConfig" type="tns:ProcessingEndpoint.Config.CommandBusConfigCT" />
	<xs:complexType name="ProcessingEndpoint.Config.DataBusConfigCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="fileShareDataBus" type="tns:ProcessingEndpoint.Config.FileShareDataBusCT">
				<xs:annotation>
					<xs:documentation>The FileShareDataBus.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProcessingEndpoint.Config.CommandBusConfigCT">
		<xs:sequence>
			<xs:element minOccurs="1" name="commandHandlers" type="tns:ProcessingEndpoint.Config.CommandHandlersCT">
				<xs:annotation>
					<xs:documentation>The CommandHandlers.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProcessingEndpoint.Config.FileShareDataBusCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="path" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Path.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ProcessingEndpoint.Config.CommandHandlersCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:ProcessingEndpoint.Config.CommandHandlerCT">
				<xs:annotation>
					<xs:documentation>The CommandHandler Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProcessingEndpoint.Config.CommandHandlerCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="commands" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Commands.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
