CqrsMvcMusicStore/ViewModelEndpoint.Config/ViewModelEndpointConfiguration.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:ViewModelEndpoint.Config" elementFormDefault="qualified" targetNamespace="urn:ViewModelEndpoint.Config" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="dataBusConfig" type="tns:ViewModelEndpoint.Config.DataBusConfigCT" />
	<xs:element name="domainEventBusConfig" type="tns:ViewModelEndpoint.Config.DomainEventBusConfigCT" />
	<xs:complexType name="ViewModelEndpoint.Config.DataBusConfigCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="fileShareDataBus" type="tns:ViewModelEndpoint.Config.FileShareDataBusCT">
				<xs:annotation>
					<xs:documentation>The FileShareDataBus.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ViewModelEndpoint.Config.DomainEventBusConfigCT">
		<xs:sequence>
			<xs:element minOccurs="1" name="domainEventEndpointMappings" type="tns:ViewModelEndpoint.Config.DomainEventEndpointMappingsCT">
				<xs:annotation>
					<xs:documentation>The DomainEventEndpointMappings.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ViewModelEndpoint.Config.FileShareDataBusCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="path" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Path.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ViewModelEndpoint.Config.DomainEventEndpointMappingsCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:ViewModelEndpoint.Config.DomainEventEndpointMappingCT">
				<xs:annotation>
					<xs:documentation>The DomainEventEndpointMapping Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ViewModelEndpoint.Config.DomainEventEndpointMappingCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="domainEvents" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The DomainEvents.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="endpoint" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Endpoint.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
