CqrsMvcMusicStore/CommandEndpoint.Config/CommandEndpointConfiguration.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:CommandEndpoint.Config" elementFormDefault="qualified" targetNamespace="urn:CommandEndpoint.Config" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="dataBusConfig" type="tns:CommandEndpoint.Config.DataBusConfigCT" />
	<xs:element name="commandBusConfig" type="tns:CommandEndpoint.Config.CommandBusConfigCT" />
	<xs:element name="securityConfig" type="tns:CommandEndpoint.Config.SecurityConfigCT" />
	<xs:complexType name="CommandEndpoint.Config.DataBusConfigCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="fileShareDataBus" type="tns:CommandEndpoint.Config.FileShareDataBusCT">
				<xs:annotation>
					<xs:documentation>The FileShareDataBus.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CommandEndpoint.Config.CommandBusConfigCT">
		<xs:sequence>
			<xs:element minOccurs="1" name="commandEndpointMappings" type="tns:CommandEndpoint.Config.CommandEndpointMappingsCT">
				<xs:annotation>
					<xs:documentation>The CommandEndpointMappings.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CommandEndpoint.Config.FileShareDataBusCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="path" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Path.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CommandEndpoint.Config.CommandEndpointMappingCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="commands" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Commands.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="endpoint" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Endpoint.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CommandEndpoint.Config.CommandEndpointMappingsCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:CommandEndpoint.Config.CommandEndpointMappingCT">
				<xs:annotation>
					<xs:documentation>The CommandEndpointMapping Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CommandEndpoint.Config.CertificatesCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="claimsSigningCertificate" type="tns:CommandEndpoint.Config.ClaimsSigningCertificateCT">
				<xs:annotation>
					<xs:documentation>The ClaimsSigningCertificate.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CommandEndpoint.Config.ClaimsSigningCertificateCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CommandEndpoint.Config.SecurityConfigCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="certificates" type="tns:CommandEndpoint.Config.CertificatesCT">
				<xs:annotation>
					<xs:documentation>The Certificates.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
